@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    
}

#cabecario{
    width: 100%;
    background-color: #d4d4d4;
    height: 100%;
    text-align: center;
    position: relative;
}
#italia{
    position: absolute;
    bottom: 0.5vh;
    left: 94.5vh;
}
h1{
    text-align: center;
    margin-top: 3%;
    
    font-size: 70px;
    font-family: "Italiana", sans-serif;
    font-weight: 500;
}
h2{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
#form-pedido{
    display: grid;
    width: 50%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    height: 100%;
    margin: auto;
    background-color: #d9d9d9;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10%;
}
#nmr{
    margin-top: 3%;
}
.espaço{
    margin-bottom: 2%;
}
#ende input{
    margin-left: 4%;
}

#valor input{ 
    margin-left: 13%;
}

#btn a{
text-decoration: none;
color: white;
padding-left: 9%;
padding-right: 9%;
padding-top: 1%;
padding-bottom: 1%;
background-color: #F22020;
border-radius: 20px;
border: solid 1px black;
}
#rodape{
    width: 100%;
    height: 8vh;
    background-color: #d4d4d4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#rodape p{
    font-size: 18px;
    width: 80%;
    text-align: center;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}
